* {
  font-family: "Jetbrains Mono NerdFont";
}

#waybar {
  background: transparent;
  color: #fff;
  font-weight: bolder;
}

.modules-left,
.modules-right,
.modules-center {
  background: #000001;
  padding: 0 10px;
  border-radius: 8px;
  margin: 4px;
}

#clock {
  color: #fff;
}

#tray {
  padding-left: 4px;
}

#workspaces button:hover {
  background-color: transparent;
}

#workspaces button {
  color: #737373;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 0px;
}

#workspaces button:hover {
  background-color: #262626;
}

#workspaces button.active {
  color: #84cc16;
}

#window {
  color: #fff;
}

#network {
  color: #3b82f6;
  margin-right: 8px;
}

#bluetooth.off {
    color: #737373;
    margin-right: 4px;
}

#bluetooth.on {
    color: #f43f5e;
    margin-right: 4px;
}

#bluetooth.connected {
    color: #14b8a6;
    margin-right: 4px;
}

#wireplumber, #pulseaudio {
  color: #14b8a6;
  margin-right: 4px;
}

#wireplumber.muted {
    color: #f43f5e;
}

#cpu {
  color: #0ea5e9;
  margin-right: 4px;
}

#temperature {
  color: #eab308;
  margin-right: 4px;
}

#memory {
  color: #d946ef;
  margin-right: 4px;
}

#custom-powermenu {
  color: #f43f5e;
}
